extend account

append base
    h2 Welcome to the 'Wet My Pants List', ya dingus!
    
    if favMovies.length
        each title in favMovieTitles
            li= title
    else
        p No movies added, you uncultured swine.