extend account

append base
    h2 Welcome to the 'Corny Movies List'!
    
    if toWatchMovies.length
        each title in toWatchMovieTitles
            li= title
    else
        p No movies added, Check out the Movies List to add some here.
