header.header
  .container
    .row.d-flex.align-items-center.justify-content-between
      .col.col-auto
          h5 80's Horror Movies
      .col.col-auto
        ul.nav
          li.nav-item
            a.nav-link.active(href='/') To Survival
          li.nav-item
            a.nav-link(href="/explore") The Crypt
          li.nav-item
            a.nav-link(href='/about-us') About Us 
          li.nav-item
            a.nav-link(href="/account/dashboard") Bloodline