//- header.header
//-   .container
//-     .row.d-flex.align-items-center.justify-content-between
//-       .col.col-auto
//-         ul.nav
//-           li.nav-item
//-             a.nav-link.active(href='/account/dashboard') Dashboard
//-           li.nav-item
//-             a.nav-link(href="/account/favorites") Scary Movies List
//-           li.nav-item
//-             a.nav-link(href='/account/to-watch') Corny Movies List
//-           li.nav-item
//-             a.nav-link(href='/account/logout') Logout
